<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .container {
            width: 80vw;
            height: 100vh;
            margin: auto;
        }

        .box {
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Welcome to my website</h1>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque doloribus ducimus earum eum, eveniet id nam natus nulla numquam obcaecati provident repudiandae. Ab, cupiditate dolorem eos molestiae neque quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        </div>
    </div>
</body>
</html>